@import "../../color";

.navbar {
  height: 50px;
  padding: 0 1rem;
  border-bottom: 0.1rem groove lightgray;
  background-color: $light;
  /* header */
  header {
    display:flex;
    justify-content:center;
    align-items:center;
    height:140px;
    width:87.5%;
    margin:0 auto;
    h1 {
      font-family: "Dancing Script", cursive;
      width:70px;
      margin-right:auto;
      margin-left:0;
      a {
        text-decoration: none;
        color: $baseColor;
      }
    }
    .linkItem {
      margin-left:40px;
      text-decoration: none;
      padding: 1rem;
      color: $baseColor;
      font-size: 1.5rem;
    }
    .favorite {
      color: $accent2;
    }
  }
  /* Alert */
  .alert {
    width: 100%;
    margin-bottom: 0;
    text-align: right;
    color: $accent2;
    font-weight: bold;
  }
  
}
